<div class="main-content">
  <div class="container-fluid">
    <div class="row">
        <!-- <img src="assets/img/Lahan.png"> -->
        <div class="col-lg-8">
                <div class="field">
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                    </div>
                    <div class="field">
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                    </div>
                    <div class="field">
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                    </div>
                    <div class="field">
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                    </div>
                    <div class="field">
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                    </div>
                    <div class="field">
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                    </div>
                    <div class="field">
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                    </div>
                    <div class="field">
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                    </div>
                    <div class="field">
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                    </div>
                    <div class="field">
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                        <button type="button" class="btn btn-success btn-sm border-btn"></button>
                    </div>
        </div>
        
        <div class="col">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">opacity</i>
                        </div>
                        <p class="card-category">Kelembaban</p>
                        <h3 class="card-title">
                            
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i>
                            <a href="#pablo">Get More Space...</a>
                        </div>
                    </div>
                </div>
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">wb_sunny</i>
                        </div>
                        <p class="card-category">Temperature</p>
                        <h3 class="card-title">{{record.temperature}}
                            <small>&#8451;</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">local_offer</i> Tracked from Github
                        </div>
                    </div>
                </div>
        </div>
    </div>  
  </div>
</div>
