img{
    display: block;
    width: 70%;
    height: 10%;
}

.field {
    display: inline;
    padding: 0px;
    margin: 0px;
}

.border-btn {
    width: 70px;
    height: 40px;
    padding: 0px;
    margin: -2px -2px 0px 0px;
    border: 2px solid black;
    border-style: dashed;
    border-radius: 0px;
}