#mapsdiv {
    width: 100%;
    height: 260px;
}

#lineChartDiv {
    width: 100%;
    height: 260px;
}

.card{
    margin-top: 5px;
    margin-bottom: 10px;
}

.card [class*="card-header-"] .card-icon, .card [class*="card-header-"] .card-text {
    padding: 10px;
}